@import "../themes/theme.scss";

.bg{
  background-attachment: fixed;
  position: absolute;
  top: 6em;
  width: 100%;
  min-height: 800px;
  z-index: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: brightness(50%);
  mask-image: linear-gradient(to bottom, #000000ff, #00000000);
}

.cardbg{
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  min-height: 800px;
  z-index: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: brightness(50%);
}

@media only screen and (max-width: 768px){
  .bg{
    background-attachment: scroll;
    height: 200px;
  }
}
